<launch>
<arg name="robot_name" default="robot"/>
<group ns="$(arg robot_name)_0">

	<node pkg="random_walk" name="odom_to_path" type="odom_to_path.py" output="screen" args="$(arg robot_name)_0 "></node> 


	</group>
<group ns="$(arg robot_name)_1">

	<node pkg="random_walk" name="odom_to_path" type="odom_to_path.py" output="screen" args="$(arg robot_name)_1 "></node> 


	</group>
</launch>